@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.btn{
    border: none;
    border-radius: 5px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;   
}

.btncontainer{
    margin-top: 20px;
    text-align: center;
    
}

#hero .hero-content .btn{
    
    width: 150px;
    height: 40px;

}

#hero{
    height: 550px;
    background-image:linear-gradient(00.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#hero .hero-content{
    width: 542px;
    justify-content: center;
        
}
#hero .hero-content .subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
   
}

#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 34px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;

}
#hero .hero-content .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}